# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.env
*.env.local
.env.prod*

# Node
node_modules/
dist/
build/
.next/
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
docker-data/

# Database files
*.db
*.sqlite

# Alembic
alembic.ini
alembic/

# Logs
*.log

.vercel
